<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375285379693-7r19l6sldvlp1ao0f2mrk6qk2ujh7fnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375285379693-7r19l6sldvlp1ao0f2mrk6qk2ujh7fnd</string>
	<key>API_KEY</key>
	<string>AIzaSyAwOl2BojIlDGDkBB78eOkVXia7GSl5FrI</string>
	<key>GCM_SENDER_ID</key>
	<string>375285379693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oskilla.mangaapp</string>
	<key>PROJECT_ID</key>
	<string>mangaapp-7bb62</string>
	<key>STORAGE_BUCKET</key>
	<string>mangaapp-7bb62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375285379693:ios:a95c8b85dfefa74e408564</string>
</dict>
</plist>